.all_info{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 50%;
    margin-top: 5em;
}


.box_project, .box_technologies, .box_about_me{
    width: 100%;
    height: auto;
}

.box_technologies{
    margin-top: 3em;
    margin-bottom: 3em;
}   

.about_me{
    margin-bottom: 5em;
    margin-left: 1.9em;
}

.about_me p {
    font-family: 'Arial', sans-serif; 
    font-size: 16px; 
    line-height: 1.6; 
    text-align: justify; 
    padding: 15px; 
    opacity: 0.8;
}

.proyect{
    height: auto;
    width: 90%;
}

ul{
    list-style: none;
}

